@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Post>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row row-cols-2">
    <div class="col col-8">
        
        <div class="row row-cols-1 g-4">
            @foreach (var post in @Model)
            {
                <div class="col-8 mt-3 border-bottom pb-3 mx-auto">
                    <div class="card border-0">
                        <a asp-action="Profile" asp-controller="Account" asp-route-id="@post.OwnerUserId" class="btn border h-50 border-0 btn-outline-light nav-link text-start text-dark my-2">
                            <i class=""><img width="50" height="50" class="rounded-circle" src="@post.OwnerUser.Avatar"/></i><b class="ms-3">@post.OwnerUser.UserName</b> &nbsp; &nbsp; <span class="text-secondary">@AddedDateGet(@post.AddedDate)</span>
                        </a>
                        <a asp-route-id="@post.Id" asp-action="Details" asp-controller="Post">
                            <img src="@post.FilePath" class="border-top card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <div class="col-2 me-auto text-start  ps-0">
                                <div id="post-@post.Id" data-value="@post.Id" role="button">
                                    

                                </div>
                            </div>
                            <p><b id="likesCount-@post.Id">@post.LikesCount &nbsp; likes</b> </p>
                            <p> <a asp-action="Profile" class="text-dark link-underline link-underline-opacity-0" asp-route-id="@post.OwnerUserId"><b>@post.OwnerUser.UserName</b></a> &nbsp; @post.Description</p>
                            <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id" class="text-secondary link-underline link-underline-opacity-0">View all @post.CommentCount comments</a><br/>
                            <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id" class="text-secondary link-underline link-underline-opacity-0">Add a comment...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
    <div class="col col-4">
        <div class="nav flex-column ms-3 mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a asp-action="Profile" asp-controller="Account" asp-route-id="@ViewBag.CurrentUser.Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-2">
                <i class=""><img width="50" height="50" class="rounded-circle" src="@ViewBag.CurrentUser.Avatar"/></i><span class="ms-3">@ViewBag.CurrentUser.UserName</span>
            </a>
            <p class="text-secondary fs-5"> Suggested for you</p>
            @foreach (var user in @ViewBag.SuggestedUsers)
            {
                <a asp-action="Profile" asp-controller="Account" asp-route-id="@user.Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-2">
                    <i class=""><img width="50" height="50"  class="rounded-circle" src="@user.Avatar"/></i><span class="ms-3">@user.UserName</span>
                </a>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
       
        function likeIdentButton(id, identVal){
            if (identVal===false){
                $('#post-'+id).html('<svg aria-label="Like" class="x1lliihq x1n2onr6 xyb1xck" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>');         
            }
            else{
                $('#post-'+id).html('<svg aria-label="Unlike" class="x1lliihq x1n2onr6 xxk16z8" style="color: rgb(255,48,64,1)" fill="currentColor" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>');
            } 
        }
        $().ready(function (){   
            let model = @Html.Raw(Json.Serialize(Model.Select(p => p.Id)));
            let userId = '@ViewBag.CurrentUser.Id';
            for (let i = 0; i <= model.length; i++){
                let postId = $('#post-'+model[i]).data('value');
                $.ajax({
                    url: '@Url.Action("HomePageLikeIdent", "Account")',
                    type: 'POST',
                    data: {'postId' :  postId, 'curUserId' : userId},
                    success: function (data){
                        likeIdentButton( postId, data.likeIdentVar);
                    }
                });
                $('#post-'+postId).click(function (e){
                    e.preventDefault();   
                    $.ajax({
                    url: '@Url.Action("Like", "Post")',
                    type: 'POST',
                    data: { 'userId': userId , 'postId' : postId},
                    success: function (data){
                        $('#likesCount-'+postId).html(data.likesCount+'&nbsp; likes');
                            likeIdentButton(postId, data.likeIdentVar);                        
                        }
                    });                          
                });   
            }
        });
    </script>
}


@functions
{
    string AddedDateGet(DateTime? time)
    {
        TimeSpan result = (TimeSpan)(DateTime.UtcNow - time);
        if (result.Days >= 1)
            return $"{result.ToString("dd")}d";
        else
        {
            if (result.Hours < 1)
                return $"{result.ToString("mm")}m";
            else 
                return $"{result.ToString("hh")}h";
        }
    }
   
}
