@using Microsoft.AspNetCore.Mvc.TagHelpers
@model User

@{
    ViewBag.Title = "Instagram";
    Layout = "_Layout";
}

<div class="row g-0 pt-5">
    <div class="col-md-4 pb-5 text-center border-bottom">
        <img src="@Model.Avatar" width="200" height="200" class="rounded-circle mx-auto ">
    </div>
    <div class="col-md-8 border-bottom">
        <div class="card-body">
            <div class="row ">
                <div class=" col col-3"><h5>@Model.UserName</h5></div>
                @if (ViewBag.CurrentUser.Id == @Model.Id) { <div class="col col-9 d-flex"><a class="my-auto btn btn-light me-auto" asp-action="Edit" asp-controller="Account">Edit profile</a></div> }
                @if (ViewBag.CurrentUser.Id != @Model.Id) { <div class="col col-9 d-flex"><a class="my-auto btn btn-info me-auto" asp-action="Follow" asp-route-id="@Model.Id" asp-controller="Account"><span class="text-white">Follow</span></a></div> }
                <div class="col col-4 mt-4"><b>@Model.PostCount</b> &nbsp; posts</div>
                <div class="col col-4 mt-4"><b>@Model.FollowersCount</b>&nbsp;followers</div>
                <div class="col col-4 mt-4"><b>@Model.FollowingsCount</b>&nbsp;following</div>
                <div class="col col-12 mt-4"><h5>@Model.FullName</h5></div>
                <div class="col col-12 mt-4">
                    <b>My Bio</b><br/>@Model.UserInfo
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 mt-5 px-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            @foreach (var post in @Model.Posts)
            {
                <div class="col justify-content-center align-items-center">
                    <a asp-action="Post" asp-controller="Post" asp-route-id="@post.Id">
                        <img class="w-100 img-fluid  rounded-0" style="height: 270px;" src="@post.FilePath"/>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
