@model List<User>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Instagram";
    Layout = "_Layout";
}
<div class="row row-cols-2">
    <div class="col col-8 border-bottom">
        <form asp-action="Search">
            <div class="input-group my-4">
                <input name="searchParam" type="text" class="form-control" placeholder="Search"  aria-describedby="button-addon2">
                <button hidden="hidden" class="btn btn-outline-light border-start-0 text-info" type="submit" id="button-addon2">@Localizer["Search"]</button>
            </div>
        </form>
    </div>
    <div class="col col-8 mt-3">
        @if (@Model.Count() == 0 || @Model == null)
        {
            <div class="position-absolute top-50 start-50 translate-middle">
                <h4 class="text-secondary">
                    @Localizer["NoRes"]
                </h4>
            </div>
        }
        else
        {
            @foreach (var userSerch in @Model)
            {
                <div class="row row-cols-1 g-4 ms-3  mb-2">
                    <a asp-action="Profile" asp-controller="Account" asp-route-id="@userSerch.Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-2">
                        <i class=""><img width="50" height="50" class="rounded-circle" src="@userSerch.Avatar"/></i><b class="ms-3">@userSerch.UserName</b><br/>@userSerch.FullName
                    </a>
                </div>
            }
        }
    </div>
    <div class="col col-4">
        <div class="nav flex-column ms-3 mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a asp-action="Profile" asp-controller="Account" asp-route-id="@ViewBag.CurrentUser.Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-2">
                <i class=""><img width="50" height="50" class="rounded-circle" src="@ViewBag.CurrentUser.Avatar"/></i><span class="ms-3">@ViewBag.CurrentUser.UserName</span>
            </a>
            <p class="text-secondary fs-5"> @Localizer["Suggested"]</p>
            @foreach (var user in @ViewBag.SuggestedUsers)
            {
                <a asp-action="Profile" asp-controller="Account" asp-route-id="@user.Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-2">
                    <i class=""><img width="50" height="50" class="rounded-circle" src="@user.Avatar"/></i><span class="ms-3">@user.UserName</span>
                </a>
            }
        </div>
    </div>
</div>
<script></script>