@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@inject IViewLocalizer Localizer

<div class="container-fluid ">
    <div class="row row-cols-2 ">
        <div class="col col-2 buttons position-fixed  border-end">
            <div class="row row-cols-1">
                <div class="col pt-4">
                    <a asp-controller="Account" asp-action="Home"><img class="w-75 mt-2" src="~/images/logo2.png"/></a>
                </div>
                <div class="nav flex-column ms-3 mt-4 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a asp-action="Home" asp-controller="Account" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3 ">
                        <i class=""><img class="w-25" src="~/images/home.png"/></i><span class="ms-3">@Localizer["Home"]</span>
                    </a>
                    <a asp-action="Search" asp-controller="Account" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                        <i class=""><img class="w-25" src="~/images/search.png"/></i><span class="ms-3">@Localizer["Search"]</span>
                    </a>
                    <a asp-action="Explore" asp-controller="Account" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                        <i class=""><img class="w-25" src="~/images/social.png"/></i><span class="ms-3">@Localizer["Explore"]</span>
                    </a>
                    <a asp-controller="Post" asp-action="Create" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                        <i class=""><img class="w-25" src="~/images/add.png"/></i><span class="ms-3">@Localizer["Create"]</span>
                    </a>
                    <a asp-action="Profile" asp-controller="Account" asp-route-id="@CurrentUserGet().Id" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                        <i class=""><img width="50" height="50" class="rounded-circle" src="@CurrentUserGet().Avatar"/></i><span class="ms-3">@Localizer["Profile"]</span>
                    </a>
                    <div class="btn-group dropup">
                        <a class="btn  border border-0 dropdown-toggle btn-outline-light nav-link text-start text-dark mt-4" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="w-25 " src="~/images/menu.png"/><span class="ms-3">@Localizer["More"]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="post" asp-controller="Account" asp-action="LogOut"><input type="submit" value="@Localizer["Logout"]" class="dropdown-item nav-link text-dark"/></form></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-10 offset-2">
            @RenderBody()
        </div>
    </div>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@functions
{
    public User CurrentUserGet()
    {
        var user= userManager.FindByNameAsync(User.Identity.Name);
        User result = new User();
        if(user!=null && signInManager.IsSignedIn(User))
            result = user.Result;
        return result;
    }
}
</html>

